{% extends 'index.html' %}

{% from 'macros.html' import render_account %}

{% block content %}
<div class='container'>
    <div class='level'>
        <div class="level-item"><p>Graph 1</p></div>
        <div class="level-item"><p>Graph 2</p></div>
        <div class="level-item"><p>Graph 3</p></div>
    </div>
    <div class='level'>
            <div class="level-right">
                <div class="level-item">
                    <a class='button' href="{{url_for('create_account')}}">New Account</a>
                </div>
            </div>
    </div>
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Type</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Website</th>
                <th>MRR</th>
                <th>ARR</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                {{ render_account(account) }}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}