{% extends 'index.html' %}

{% from 'macros.html' import render_account %}

{% block content %}
<div>
    <div class='tile is-parent'>
        <div class="tile is-child box"><canvas id='graph-1'></canvas></div>
        <div class="tile is-child box"><canvas id='graph-2'></canvas></div>
    </div>
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <td><a class='button is-primary' href="{{url_for('create_account')}} ">New</a></td>
                <th>Account</th>
                <th>Owner</th>
                <th>Type</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Website</th>
                <th>MRR</th>
                <th>ARR</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                {{ render_account(account) }}
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function() {
    var graph1 = $('#graph-1');
    var graph1Chart = new Chart(graph1,{
        type: 'horizontalBar',
        data: {
            labels : [{% for account in accounts %}
                        "{{account.name}}",
                        {% endfor %}],
            datasets : [{
                backgroundColor: '#63bfcc60',
                borderColor: '#63bfcc',
                hoverBorderColor: 'black',
                borderWidth: 2,
                label: 'Monthly Revenue',
                data : [
                    {% for account in accounts %}
                        "{{account.mrr}}",
                    {% endfor %}
                    ]
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            title: {
                display: true,
                text: 'Top Accounts',
                fontSize: 18,
                fontColor: 'black'
            }
        }
    });
    var graph2 = $('#graph-2');
    var graph2Chart = new Chart(graph2,{
        type: 'bar',
        data: {
            labels : [{% for acct_w_opp in acct_w_opps %}
                        "{{acct_w_opp.name}}",
                        {% endfor %}],
            datasets : [{
                backgroundColor: '#399e1440',
                borderColor: '#399e14',
                hoverBorderColor: 'black',
                borderWidth: 2,
                label: 'Open Opportunities',
                data : [
                    {% for acct_w_opp in acct_w_opps %}
                        "{{acct_w_opp.open_opps}}",
                    {% endfor %}
                    ]
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 1
                    }
                }]
            },
            title: {
                display: true,
                text: 'Account Activity',
                fontSize: 18,
                fontColor: 'black'
            }
        }
    });
    $('#account-menu').addClass('is-active');
});
</script>
{% endblock %}
