{% extends 'index.html' %}

{% from 'macros.html' import render_contact %}

{% block content %}
<div class='container'>
    <table class="table is-fullwidth is-hoverable is-striped">
        <thead>
            <tr>
                <td><a class='button is-primary' href="{{url_for('create_contact')}}">New</a></td>
                <th>Account Name</a></th>
                <th>Owner</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Title</th>
                <th>Department</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                {{ render_contact(contact) }}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}