{% extends 'index.html' %}

{% from 'macros.html' import render_contact %}

{% block content %}
<div class='container'>
    <div class='level'>
            <div class="level-right">
                <div class="level-item">
                    <a class='button' href="{{url_for('create_contact')}}">New Contact</a>
                </div>
            </div>
    </div>
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Account Name</a></th>
                <th>Owner</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Title</th>
                <th>Department</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                {{ render_contact(contact) }}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}