{% extends 'index.html' %}

{% from 'macros.html' import render_edit_field %}

{% block content %}
<form method="POST" action="" class="form">
    <div class='container'>
        {{ form.hidden_tag() }}
        <div class='columns'>
            <div class='column'>
                {% for field in form %}
                    {% if loop.index % 2 != 0 %}
                        {{ render_edit_field(field,record) }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class='column'>
                {% for field in form %}
                    {% if loop.index % 2 == 0 %}
                        {{ render_edit_field(field,record) }}
                    {% endif %}
                {% endfor %}    
            </div>
        </div>
        <div class='field is-grouped is-grouped-centered'>
            <p class="control">
                <button class='button is-primary' type="submit" id="submit">Save Changes</button>
            </p>
            <p class="control">
                <a class='button is-light' href='r'>Cancel</a>
            </p>
        </div>
    </div>
</form>
<script>
    $(document).ready(function(){
        function findSelection() {
            let acctSelected = $('#account').attr('value');
            let acctOption = $('#account').children(`[value=${acctSelected}]`); 
            acctOption.attr('selected',true);
            
            let oppSelected = $('#opportunity').attr('value');
            let oppOption = $('#opportunity').children(`[value=${oppSelected}]`); 
            oppOption.attr('selected',true);
        };
        findSelection();
    });
</script>
{% endblock %}