{% extends 'index.html' %}

{% from 'macros.html' import render_edit_field %}

{% block content %}
<form method="POST" action="" class="form">
    <div class='container'>
        {{ form.hidden_tag() }}
        <div class='columns'>
            <div class='column'>
                {% for field in form %}
                    {% if loop.index % 2 != 0 %}
                        {{ render_edit_field(field,record) }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class='column'>
                {% for field in form %}
                    {% if loop.index % 2 == 0 %}
                        {{ render_edit_field(field,record) }}
                    {% endif %}
                {% endfor %}    
            </div>
        </div>
        <div class='field is-grouped is-grouped-centered'>
            <p class="control">
                <button class='button is-primary' type="submit" id="submit">Save Changes</button>
            </p>
            <p class="control">
                <a class='button is-light' href='r'>Cancel</a>
            </p>
        </div>
    </div>
</form>
<script>
    $(document).ready(function(){
        function prevSelections() {
            let acctSelected = $('#account').attr('value');
            let acctOption = $('#account').children(`[value='${acctSelected}']`); 
            acctOption.attr('selected',true);
            
            let oppSelected = $('#opportunity').attr('value');
            let oppOption = $('#opportunity').children(`[value='${oppSelected}']`); 
            oppOption.attr('selected',true);
    
            let contactSelected = $('#primary_contact').attr('value');
            let contactOption = $('#primary_contact').children(`[value='${contactSelected}']`);
            contactOption.attr('selected',true);
    
            let stageSelected = $('#stage').attr('value');
            let stageOption = $('#stage').children(`[value='${stageSelected}']`);
            stageOption.attr('selected',true);
    
            let oppTypeSelected = $('#opportunity_type').attr('value');
            let oppTypeOption = $('#opportunity_type').children(`[value='${oppTypeSelected}']`);
            oppTypeOption.attr('selected',true);
    
            let acctTypeSelected = $('#account_type').attr('value');
            let acctTypeOption = $('#account_type').children(`[value='${acctTypeSelected}']`);
            acctTypeOption.attr('selected',true);
    
            let ownerSelected = $('#owner').attr('value');
            let ownerOption = $('#owner').children(`[value='${ownerSelected}']`);
            ownerOption.attr('selected',true);

        };

        {% if products %}
            $('#product').change(function(){
                let prodChoice = $(this).val();
                {% for product in products %}
                    if ({{product.id}} == prodChoice) {
                        $('#product_price').val('{{product.price}}');
                    };
                {% endfor %}
            });
        {% endif %}

        prevSelections();
    });
</script>
{% endblock %}