{% from 'macros.html' import render_field %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
    <title>Loop CRM</title>
</head>
<body class='has-navbar-fixed-top'>
    <header>
        <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item has-text-weight-semibold" href="{{ url_for('index') }}"><span class='is-size-4'>L </span><i class="fas fa-sync-alt"></i><i class="fas fa-sync-alt"></i><span class='is-size-4'> P</span></a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    {% if current_user.is_authenticated %}
                    <a class="button is-light has-text-weight-semibold" href="{{url_for('profile')}}" title="profile">Profile</a>
                    <a class="button is-light has-text-weight-semibold" href="{{ url_for('logout') }}" title="logout">Logout</a>
                    {% else %}
                    <a class="button is-primary has-text-weight-semibold" href="{{ url_for('signup') }}" title="register">Sign Up</a>
                    <a class="button is-light has-text-weight-semibold" href="{{ url_for('login') }}" title="login">Login</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </nav>          
    </header>
    <main>
        <h1 class='title has-text-centered'>Login</h1>
        <div class='columns is-centered'>
            <div class="box column is-half">
                <form method="POST" action="" class="form">
                    {{ form.hidden_tag() }}
                    {% for field in form %}
                        {{ render_field(field) }}
                    {% endfor %}
                <div class="level">
                    <div class="level-item buttons">
                        <button class='button is-primary' type="submit" id="submit">Login</button>
                        <a class='button is-light' href="{{url_for('signup')}}">Sign Up</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>

