{% macro render_field(field) %}
    <div class="field">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="notification error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {% if field.type == 'SelectField' %}
            <label for="{{ field.id }}">{{field.label.text}}</label>
            {{ field() }}
        {% elif field.type == 'DateField' %}
            <label for="{{ field.id }}">{{field.label.text}}</label>
            {{ field(type='date') }}
        {% else %}
            {{ field(placeholder=field.label.text) }}
        {% endif %}
    </div>
{% endmacro %}

{% macro render_account_options(account) %}
<option data-id="{{ account.id }}" name="{{ account.id }}" value="{{ account.id }}">{{account.name}}</option>
{% endmacro %}

{% macro render_user_options(user) %}
<option data-id="{{ user.id }}" name="{{ user.id }}" value="{{ user.id }}">{{user.fullname}}</option>
{% endmacro %}

{% macro render_contact_options(contact) %}
<option data-id="{{ contact.id }}" name="{{ contact.id }}" value="{{ contact.id }}">{{contact.first_name + ' ' + contact.last_name}}</option>
{% endmacro %}