{% macro render_field(field) %}
    <div class="field is-horizontal">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="notification error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {% if field.type == 'SelectField' %}
            <div class="field-label">
                <label for="{{ field.id }}" class='label'>{{field.label.text}}:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class='control'>
                        {{ field(class='select is-small is-fullwidth') }}
                    </div> 
                </div>
            </div>
        {% elif field.type == 'DateField' %}
            <div class="field-label">
                <label for="{{ field.id }}" class='label'>{{field.label.text}}:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class='control'>
                        {{ field(type='date') }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="field-body">
                <div class="field">
                    <div class='control'>
                        {{ field(placeholder=field.label.text, class='input') }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_edit_field(field,record) %}
    <div class="field is-horizontal">
        {% for key, value in record.items() %}
            {% if key == field.id %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="notification error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                {% if field.type == 'SelectField' %}
                    <div class="field-label">
                        <label for="{{ field.id }}" class='label'>{{field.label.text}}:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {{ field(class='select is-small is-fullwidth', value=value)}}
                            </div>
                        </div>
                    </div>
                {% elif field.type == 'DateField' %}
                    <div class="field-label">
                        <label for="{{ field.id }}" class='label'>{{field.label.text}}:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {{ field(type='date',class='input',value=value) }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="field-label">
                        <label for="{{ field.id }}" class='label'>{{field.label.text}}:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {{ field(class='input', placeholder=field.label.text, value=value) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_account(account) %}
    <tr>
        <td><a href='{{account.id}}'>{{account.name}}</a></td>
        <td>{{account.owner.fullname}}</td>
        <td>{{account.account_type}}</td>
        <td>{{account.street}}</td>
        <td>{{account.city}}</td>
        <td>{{account.state}}</td>
        <td>{{account.country}}</td>
        <td>{{account.website}}</td>
        <td>{{account.mrr}}</td>
        <td>{{account.arr}}</td>
        <td>{{account.created_by.fullname}}</td>
    </tr>
{% endmacro %}

{% macro render_contact(contact) %}
    <tr>
        <td><a href='{{contact.account.id}}'>{{contact.account.name}}</a></td>
        <td>{{contact.owner.fullname}}</td>
        <td>{{contact.first_name}}</td>
        <td>{{contact.last_name}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.title}}</td>
        <td>{{contact.department}}</td>
        <td>{{contact.street}}</td>
        <td>{{contact.city}}</td>
        <td>{{contact.state}}</td>
        <td>{{contact.country}}</td>
        <td>{{contact.created_by.fullname}}</td>
    </tr>
{% endmacro %}

{% macro render_opportunity(opportunity) %}
    <tr>
        <td>{{opportunity.account.name}}</td>
        <td>{{opportunity.owner.fullname}}</td>
        <td>{{opportunity.name}}</td>
        <td>{{opportunity.opportunity_type}}</td>
        <td>{% if opportunity.primary_contact %}{{opportunity.primary_contact.first_name + ' ' + opportunity.primary_contact.last_name}}</td>{% endif %}
        <td>{{opportunity.mrr}}</td>
        <td>{{opportunity.arr}}</td>
        <td>{{opportunity.stage}}</td>
        <td>{{opportunity.created_by}}</td>
    </tr>
{% endmacro %}

{% macro render_subscription(subscription) %}
    <tr>
        <td>{{subscription.account.name}}</td>
        <td>{{subscription.opportunity.name}}</td>
        <td>{{subscription.product.name}}</td>
        <td>{{subscription.list_price}}</td>
        <td>{{subscription.discount}}</td>
        <td>{{subscription.sale_price}}</td>
        <td>{{subscription.sub_start_date}}</td>
        <td>{{subscription.sub_end_date}}</td>
        <td>{{subscription.mrr}}</td>
        <td>{{subscription.arr}}</td>
        <td>{{subscription.created_by.fullname}}</td>
    </tr>
{% endmacro %}

{% macro render_product(product) %}
    <tr>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
    </tr>
{% endmacro %}