{% macro render_field(field) %}
    <div class="field control">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="notification error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {% if field.type == 'SelectField' %}
                <label for="{{ field.id }}" class='label'>{{field.label.text}}</label>
                <div class='select'>
                    {{ field() }}
                </div>
        {% elif field.type == 'DateField' %}
            <label for="{{ field.id }}" class='label'>{{field.label.text}}</label>
            {{ field(type='date') }}
        {% else %}
            {{ field(placeholder=field.label.text, class='input') }}
        {% endif %}
    </div>
{% endmacro %}

{% macro render_edit_field(field,record) %}
    <div class="field">
        {% for key, value in record.items() %}
            {% if key == field.id %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="notification error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                {% if field.type == 'SelectField' %}
                    <label for="{{ field.id }}">{{field.label.text}}</label>
                    {{ field(value=value)}}
                {% elif field.type == 'DateField' %}
                    <label for="{{ field.id }}">{{field.label.text}}</label>
                    {{ field(type='date',value=value) }}
                {% else %}
                    {{ field(placeholder=field.label.text, value=value) }}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}


<!-- May not need code below based on styling options -->
{% macro render_account_options(account) %}
<option data-id="{{ account.id }}" name="{{ account.id }}" value="{{ account.id }}">{{account.name}}</option>
{% endmacro %}

{% macro render_user_options(user) %}
<option data-id="{{ user.id }}" name="{{ user.id }}" value="{{ user.id }}">{{user.fullname}}</option>
{% endmacro %}

{% macro render_contact_options(contact) %}
<option data-id="{{ contact.id }}" name="{{ contact.id }}" value="{{ contact.id }}">{{contact.first_name + ' ' + contact.last_name}}</option>
{% endmacro %}