{% extends 'index.html' %}

{% from 'macros.html' import render_opportunity %}

{% block content %}
<div class='container'>
    <div class='level'>
        <div class="level-item"><p>Graph 1</p></div>
        <div class="level-item"><p>Graph 2</p></div>
        <div class="level-item"><p>Graph 3</p></div>
    </div>
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <td><a class='button is-primary' href="{{url_for('create_opportunity')}}">New</a></td>
                <th>Account Name</th>
                <th>Owner</th>
                <th>Name</th>
                <th>Type</th>
                <th>Primary Contact</th>
                <th>MRR</th>
                <th>ARR</th>
                <th>Stage</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            {% for opportunity in opportunities %}
                {{ render_opportunity(opportunity) }}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}