{% extends 'index.html' %}

{% block content %}
    <div class='container columns'>
        <div class='column'>
            <p>Name: {{opportunity.name}}</p>
            <p>Account: {{opportunity.account.name}}</p>
            <p>Type: {{opportunity.opportunity_type}}</p>
            <p>Primary Contact: {% if opportunity.primary_contact %}{{opportunity.primary_contact.first_name + ' ' + opportunity.primary_contact.last_name}}{% endif %}</p>
        </div>
        <div class='column'>
            <p>Owner: {{opportunity.owner.fullname}}</p>
            <p>MRR: {{opportunity.mrr}}</p>
            <p>ARR: {{opportunity.arr}}</p>
            <p>Stage: {{opportunity.stage}}</p>
            <p>Created By: {{opportunity.created_by.fullname}}</p>
        </div>
    </div>
    {% if user.id == opportunity.owner.id %}
    <a role='button' class='button' href="{{url_for('edit_opportunity',opportunityid=opportunity.id)}}">Edit</a>
    <a role='button' class='button' href="{{url_for('delete_opportunity',opportunityid=opportunity.id)}}">Delete</a>
    {% endif %}
{% endblock %}