{% extends 'index.html' %}

{% from 'macros.html' import render_opportunity %}

{% block content %}
<div>
    <div class='tile is-parent'>
        <div class="tile is-child box"><canvas id='graph-1'></canvas></div>
        <div class="tile is-child box"><canvas id='graph-2'></canvas></div>
    </div>
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <td><a class='button is-primary' href="{{url_for('create_opportunity')}}">New</a></td>
                <th>Name</th>
                <th>Type</th>
                <th>Account Name</th>
                <th>Primary Contact</th>
                <th>MRR</th>
                <th>ARR</th>
                <th>Stage</th>
                <th>Close Date</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            {% for opportunity in opportunities %}
                {{ render_opportunity(opportunity) }}
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
$(document).ready(function() {
    var graph1 = $('#graph-1');
    var graph1Chart = new Chart(graph1,{
        type: 'horizontalBar',
        data: {
            labels : [{% for opportunity in opportunities %}
                        "{{opportunity.name}}",
                        {% endfor %}],
            datasets : [{
                backgroundColor: '#63bfcc60',
                borderColor: '#63bfcc',
                hoverBorderColor: 'black',
                borderWidth: 2,
                label: 'Monthly Revenue',
                data : [
                    {% for opportunity in opportunities %}
                        "{{opportunity.mrr}}",
                    {% endfor %}
                    ]
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            title: {
                display: true,
                text: 'Top Opportunities',
                fontSize: 18,
                fontColor: 'black'
            }
        }
    });
    var graph2 = $('#graph-2');
    var graph2Chart = new Chart(graph2,{
        type: 'polarArea',
        data: {
            labels : [{% for row in opp_stage_data %}
                        "{{row.stage}}",
                        {% endfor %}],
            datasets : [{
                backgroundColor: ['#e5374880','#088e3980','#4ae2d680','#eb42f780','#84e85580'],
                borderColor: 'white',
                hoverBackgroundColor: ['#e53748','#088e39','#4ae2d6','#eb42f7','#84e855'],
                borderWidth: 1,
                label: 'MRR in Stage',
                data : [
                    {% for row in opp_stage_data %}
                        "{{row.mrr_in_stage}}",
                    {% endfor %}
                    ]
            }]
        },
        options: {
            title: {
                display: true,
                text: 'MRR By Stage',
                fontSize: 18,
                fontColor: 'black'
            }
        }
    });
    $('#opp-menu').addClass('is-active');
});
</script>
{% endblock %}