{% extends 'index.html' %}

{% from 'macros.html' import render_subscription %}

{% block content %}
<div class='tile is-parent'>
    <div class="tile is-child box">
        {% if user.id == opportunity.owner.id %}
        <div class='field is-grouped is-grouped-right'>
            <div class="control">
                <a role='button' class='button is-link' href="{{url_for('edit_opportunity',opportunityid=opportunity.id)}}"><i class="far fa-edit"></i></a>
            </div>
            <div class="control">
                <a role='button' class='button is-danger' href="{{url_for('delete_opportunity',opportunityid=opportunity.id)}}"><i class="far fa-trash-alt"></i></a>
            </div>
        </div>
        {% endif %}
        <div class="columns">
            <div class='column'>
                <p><strong>Name:</strong> {{opportunity.name}}</p>
                <p><strong>Account:</strong> {% if opportunity.account %}{{opportunity.account.name}}{% endif %}</p>
                <p><strong>Type:</strong> {{opportunity.opportunity_type}}</p>
                <p><strong>Primary Contact:</strong> {% if opportunity.primary_contact %}{{opportunity.primary_contact.first_name + ' ' + opportunity.primary_contact.last_name}}{% endif %}</p>
                <p><strong>Owner:</strong> {% if opportunity.owner %}{{opportunity.owner.fullname}}{% endif %}</p>
            </div>
            <div class='column'>
                <p><strong>MRR:</strong> {{opportunity.mrr}}</p>
                <p><strong>ARR:</strong> {{opportunity.arr}}</p>
                <p><strong>Stage:</strong> {{opportunity.stage}}</p>
                <p><strong>Close Date:</strong> {{opportunity.close_date}}</p>
                <p><strong>Created By:</strong> {{opportunity.created_by.fullname}}</p>
            </div>
        </div>
    </div>
    <div class="tile is-child box">
        <canvas id='graph-1'></canvas>
    </div>
</div>
<div class='level'>
    <p class='title level-item'>Related Subscriptions</p>
</div>
<table class="table is-fullwidth is-hoverable">
    <thead>
        <tr>
            <td><a class='button is-primary' href="{{url_for('create_subscription')}}">New</a></td>
            <th>Account</th>
            <th>Opportunity</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>MRR</th>
            <th>ARR</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        {% for subscription in subscriptions %}
        {{ render_subscription(subscription) }}
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function() {
        var graph1 = $('#graph-1');
        var graph1Chart = new Chart(graph1,{
            type: 'pie',
            data: {
                labels : [{% for prod in prod_mrr %}
                            "{{prod.product.name}}",
                            {% endfor %}],
                datasets : [{
                    backgroundColor: ['#e5374880','#088e3980','#4ae2d680','#eb42f780','#84e85580'],
                    borderColor: 'white',
                    hoverBackgroundColor: ['#e53748','#088e39','#4ae2d6','#eb42f7','#84e855'],
                    borderWidth: 1,
                    label: 'Monthly Revenue',
                    data : [
                        {% for prod in prod_mrr %}
                            "{{prod.mrr}}",
                        {% endfor %}
                        ]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Product Mix',
                    fontSize: 18,
                    fontColor: 'black'
                }
            }
        });
        $('#opp-menu').addClass('is-active');
    });
</script>
{% endblock %}