{% extends 'index.html' %}

{% from 'macros.html' import render_product %} 

{% block content %}
<table class="table is-fullwidth is-hoverable">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            {{ render_product(product) }}
        {% endfor %}
        <form method="POST" action="" class="form">
            <tr>
                <th>
                    {{ form.hidden_tag() }}
                    <div class="field">
                        <div class="control">
                            {{ form.name(class='input', placeholder=form.name.label.text) }}
                        </div>
                    </div>
                </th>
                <th>
                    <div class="field">
                        <div class="control">
                            {{form.price(class='input',placeholder=form.price.label.text)}}
                        </div>
                    </div>
                </th>
                <th><button class='level-item button' type="submit" id="submit">Add Product</button></th>
            </tr>
        </form>
    </tbody>
</table>
{% endblock %}