{% extends 'index.html' %}

{% block content %}
<form method="POST" action="" class="form">
    <div class='container'>
        {{ form.hidden_tag() }}
        <div class='columns'>
            <div class='column'>
                {% for field in form %}
                    {% if loop.index % 2 != 0 %}
                        {{ render_edit_field(field,record) }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class='column'>
                {% for field in form %}
                    {% if loop.index % 2 == 0 %}
                        {{ render_edit_field(field,record) }}
                    {% endif %}
                {% endfor %}    
            </div>
        </div>
        <div class='field is-grouped is-grouped-centered'>
            <p class="control">
                <button class='button is-primary' type="submit" id="submit">Save Changes</button>
            </p>
            <p class="control">
                <a class='button is-light' href='r'>Cancel</a>
            </p>
        </div>
    </div>
</form>
{% endblock %}