{% extends 'index.html' %}

{% from 'macros.html' import render_subscription %} 

{% block content %}

<table class="table is-fullwidth is-hoverable is-narrow">
    <thead>
        <tr>
            <td><a class='button is-primary' href="{{url_for('create_subscription')}}">New</a></td>
            <th>Account</th>
            <th>Opportunity</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>MRR</th>
            <th>ARR</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        {% for subscription in subscriptions|sort(attribute='account.name') %}
            {{ render_subscription(subscription) }}
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function(){
        $('#sub-menu').addClass('is-active');
    });
</script>
{% endblock %}