{% extends 'index.html' %}

{% from 'macros.html' import render_subscription %} 

{% block content %}
<table class="table is-fullwidth is-hoverable">
    <thead>
        <tr>
            <th>Account</th>
            <th>Opportunity</th>
            <th>Product</th>
            <th>List Price</th>
            <th>Discount</th>
            <th>Sale Price</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>MRR</th>
            <th>ARR</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        {% for subscription in subscriptions %}
            {{ render_subscription(subscription) }}
        {% endfor %}
    </tbody>
</table>
{% endblock %}